<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
        <ion-img src="assets/Pizza.jpg" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

    <h2>HISTORIA DA CULINARIA MAIS FAMOSA DO MUNDO</h2>
    <h3>Pizza é uma preparação culinária que consiste em um disco de massa fermentada de farinha de trigo,
        <br>coberto com molho de tomate e os ingredientes variados que normalmente incluem algum tipo de queijo, carnes preparadas ou defumadas e ervas, <br>normalmente orégano ou manjericão, tudo assado em forno.
        <br><br> Origem: Itália Variações: Calzone, Panzerotti, Stromboli
    </h3>
</ion-content>
<p link> FONTE (https://g.co/kgs/jURsvx) </p>


<ion-img src="assets/Pizza.jpg" slot="end" class="pages-logo"></ion-img>