<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Faça o Login</ion-title>
        <ion-img src="assets/Pizza.jpg" slot="end" class="pages-logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">

    <h2>Por Favor!</h2>
    <p>Logue-se para ter acesso a todos os recursos do aplicativo.</p>

    <ion-button expand="block" (click)="login()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Entrar com o Google
    </ion-button>

</ion-content>